{# Header компонент с навигацией #}
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('web.index') }}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Брошенная Техника" height="40">
                <span class="ml-2">Брошенная Техника</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.index') }}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.contacts') }}">Контакты</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav">
                    {# Переключатель языка #}
                    {% include 'components/language_switcher.html' %}
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('web.profile') }}">Профиль</a>
                                {% if current_user.is_admin %}
                                    <a class="dropdown-item" href="{{ url_for('admin.dashboard') }}">Админ-панель</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary text-white ml-2" href="{{ url_for('auth.register') }}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>
.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-brand img {
    vertical-align: middle;
}
</style>
